@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: DM Sans, 'sans-serif';
    --font-serif: DM Serif Display, 'serif';
    --font-mono: DM Mono, 'monospace';

    --color-primary-50: #EEF5FF;
    --color-primary-100: #D9E8FF;
    --color-primary-200: #BCD8FF;
    --color-primary-300: #8EBFFF;
    --color-primary-400: #599DFF;
    --color-primary-500: #3377FF;
    --color-primary-600: #1B55F5;
    --color-primary-700: #1440E1;
    --color-primary-800: #1735B6;
    --color-primary-900: #19328F;
    --color-primary-950: #142057;
}