@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Font (Ubuntu) */
    --font-sans: 'Ubuntu', sans-serif;

    /* Primary Colors (Blue) */
    --color-primary-50: #eef0fc;
    --color-primary-100: #dce1f8;
    --color-primary-200: #bac3f1;
    --color-primary-300: #97a5ea;
    --color-primary-400: #7587e2;
    --color-primary-500: #4056ce;
    --color-primary-600: #3345b0;
    --color-primary-700: #263491;
    --color-primary-800: #1a2472;
    --color-primary-900: #0d1453;

    /* Surface Colors (Light to Dark Gradient) */
    --color-surface-50: #eaf2ef;
    --color-surface-100: #d1d9d6;
    --color-surface-200: #b8c1be;
    --color-surface-300: #9fa8a7;
    --color-surface-400: #868f90;
    --color-surface-500: #6d7578;
    --color-surface-600: #545c61;
    --color-surface-700: #3c4249;
    --color-surface-800: #232932;
    --color-surface-900: #10131f;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
    /* disable chrome cancel button */
    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }

    html {
        @apply text-surface-900;

        @variant dark {
            @apply text-surface-50;
        }
    }
}
