@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: DM Sans, 'sans-serif';
    --font-serif: DM Serif Display, 'serif';
    --font-mono: DM Mono, 'monospace';

    --color-primary-50:  #fafafa;
    --color-primary-100: #ececee;
    --color-primary-200: #dedee2;
    --color-primary-300: #cfd0d6;
    --color-primary-400: #c1c2ca;
    --color-primary-500: #9a9ba6;
    --color-primary-600: #747683;
    --color-primary-700: #4e505f;
    --color-primary-800: #2f313c;
    --color-primary-900: #1f2028;
    --color-primary-950: #101115;

    --color-accent-50:  #fffbea;
    --color-accent-100: #fff6d1;
    --color-accent-200: #fff3b3;
    --color-accent-300: #ffef8f;
    --color-accent-400: #ffe96b;
    --color-accent-500: #ffe347;
    --color-accent-600: #ffdf2f;
    --color-accent-700: #ffdb1f;
    --color-accent-800: #ffd70f;
    --color-accent-900: #ffd300;
    --color-accent-950: #ffe637;
}